@model Resume.Domain.Dtos.Resume.Experience.CreateExperienceDto

@{
    ViewData["Title"] = "ایجاد سابقه شغلی جدید";
}

<partial name="_JqueryValidators" />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb breadcrumb-style " style="float:right">
            <li class="breadcrumb-item">
                <h4 class="page-title">مدیریت سوابق شغلی</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
                <a asp-area="administration" asp-controller="home" asp-action="index">
                    <i class="fas fa-home"></i>داشبورد
                </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
                <a href="#" onclick="return false;">@ViewData["Title"]</a>
            </li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>ایجاد</strong> سابقه شفلی جدید
                </h2>
            </div>
            <form asp-area="Administration" asp-controller="AdminResume" asp-action="CreateExperience" method="post">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control mb-2" asp-for="CompanyName" placeholder="نام شرکت / موسسه">
                                    <span class="text-danger" asp-validation-for="CompanyName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control mb-2" asp-for="JobStartDate" placeholder="تاریخ آغاز کار">
                                    <span class="text-danger" asp-validation-for="JobStartDate"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control mb-2" asp-for="JobEndDate" placeholder="تاریخ پایان کار">
                                    <span class="text-danger" asp-validation-for="JobEndDate"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize" asp-for="Description" placeholder="توضیحات..."></textarea>
                                    <span class="text-danger" asp-validation-for="Description"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-hover color-5 btn-block w-100 rounded">ثبت اطلاعات</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
