@model Resume.Domain.Dtos.Project.Project.EditProjectDto

@{
    ViewData["Title"] = $"ویرایش نمونه کار : {ViewBag.Title}";
}

<partial name="_JqueryValidators" />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb breadcrumb-style " style="float:right">
            <li class="breadcrumb-item">
                <h4 class="page-title">مدیریت نمونه کار ها</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
                <a asp-area="administration" asp-controller="home" asp-action="index">
                    <i class="fas fa-home"></i>داشبورد
                </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
                <a href="#" onclick="return false;">@ViewData["Title"]</a>
            </li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>@ViewData["Title"]</strong>
                </h2>
            </div>
            <form asp-area="Administration" asp-controller="AdminBlogs" asp-action="CreateArticle" method="post" enctype="multipart/form-data">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control mb-2" asp-for="ProjectTitle" placeholder="عنوان مقاله">
                                    <span class="text-danger" asp-validation-for="ProjectTitle"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-line">
                                    @if (ViewBag.Category != null)
                                    {
                                        <select class="browser-default" asp-for="ProjectCategoryId" asp-items='new SelectList(ViewBag.Category, "CategoryId", "ProjectCategoryTitle")'>
                                            <option value="" disabled="" selected="">دسته بندی مورد نظر را انتخاب نمایید...</option>
                                        </select>
                                        <span class="text-danger" asp-validation-for="ProjectCategoryId"></span>
                                    }
                                    else
                                    {
                                        <select class="browser-default">
                                            <option value="" disabled="" selected="">هیچ دسته بندی ای موجود نیست.
                                            </option>
                                        </select>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea asp-for="Description" class="form-control mb-4" placeholder="توضیحات (اختیاری)"></textarea>
                                    <span class="text-danger" asp-validation-for="Description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="Image">آپلود تصویر دسته بندی مقالات (اختیاری)</label>
                                    <input type="file" class="form-control-file" name="Image" id="Image" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-hover color-5 btn-block w-100 rounded">ثبت اطلاعات</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
