<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] | ادمین</title>
    <partial name="_HeaderReferences" />
</head>

<body class="light rtl">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="~/AdminSite/assets/images/loading.png" alt="admin">
            </div>
            <p>لطفا صبر کنید...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    @await Component.InvokeAsync("Navbar")
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
        @await Component.InvokeAsync("LeftSidebar")
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <partial name="_AdminColorSetting" />
        <!-- #END# Right Sidebar -->
    </div>

    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <partial name="_FooterReferences" />
</body>

</html>