
@{
    ViewData["Title"] = "Error 404 | صفحه یافت نشد";
}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form">
				<span class="error-header p-b-45">
					404
				</span>
				<span class="error-subheader p-b-5">
					صفحه مورد نظر یافت نشد
				</span>
				<span class="error-subheader2 p-b-5">
					صفحه ای که به دنبال آن هستید در دسترس نیست!
				</span>

				<div class="container-login100-form-btn p-t-30	">
					<a class="login100-form-btn" asp-area="Aministration" asp-controller="User" asp-action="UserList">
						برو به صفحه اصلی
					</a>
				</div>

				<div class="w-full p-t-15 p-b-15 text-center">

					<div>
						<a href="#" class="txt1">
							آیا نیازمند کمک هستید؟
						</a>
					</div>
				</div>

			</form>

			<div class="login100-more" style="background-image: url('../../assets/images/pages/bg-03.png');">
			</div>
		</div>
	</div>
</div>

