@model List<Resume.Domain.Dtos.Resume.Education.FilterEducationDto>

<div class="col-12">
    <h2 class="title title--h3"><img class="title-icon" src="~/MainSite/assets/icons/icon-education.svg" alt=""> تحصیلات</h2>
    <div class="timeline">
        <!-- Item -->
        @foreach (var item in Model)
        {
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">@item.UnivercityName</h5>
                <span class="timeline__period">@item.EducatioStartDate - @item.EducationEndDate</span>
                <p class="timeline__description">@item.Description</p>
            </article>
        }
    </div>
</div>
